#binary files

*.o
*.lo
*.a
*.la
*.so
*.so.*
.deps/*
.libs/*

ruby/*.o
ruby/*.la

#backup files

*~

# http://www.gnu.org/software/automake

Makefile
Makefile.in
ruby/Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/config.h
/config.log
/config.status
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/libtool
/config.sub
/config.guess
/m4/*.m4
/ruby/.RUBYLIBDIR.time
